<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">


<div class="container__post-card">
  <div class="post-card__photo">
    <img
      src="{{photoCover}}"
      alt="" height="200px">
  </div>
  <div class="container__content-card">
    <span>{{categorie}}</span>
    <a href="#">
      <h1>{{cardTitle}}</h1>
      <p>{{cardDescription}}</p>
    </a>
  </div>
</div>
