<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">


<div class="container__post-card">
  <div class="post-card__photo">
    <img
      src="https://img.freepik.com/vetores-gratis/conceito-de-upload-de-imagem-para-a-pagina-de-destino_23-2148298812.jpg?w=740&t=st=1707161066~exp=1707161666~hmac=2a38e53a3c2c22b7f88505741319a9e0e0cee20ff3ce94a031688aeda9e30c6a"
      alt="" height="200px">
  </div>
  <div class="container__content-card">
    <span>CATEGORIE</span>
    <a href="#">
      <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae id ipsum vero, quis ab sed adipisci saepe amet
        quidem repudiandae...</p>
    </a>
  </div>
</div>
