.nav-main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 2px 2px 5px -1px rgba(97,97,97,0.3);
  -webkit-box-shadow: 2px 2px 5px -1px rgba(97,97,97,0.3);
  -moz-box-shadow: 2px 2px 5px -1px rgba(97,97,97,0.3);
}

.menu-items {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.menu-items > li > a{
  padding: 0 10px;
  text-decoration: none;
}

.menu-items > li > a > img {
  width: 25px;
}
