<div class="container">
  <div class="container__header">
    <div class="post__date">
      <span class="date">29 May</span>
      <span class="categorie">{{categorie}}</span>
    </div>
    <div class="post__title">
      <h1>{{title}}</h1>
    </div>
  </div>
  <div class="container__post-autor">
    <img src="../../../assets/icons/github.svg" alt="" width="30px">
    <div class="post__autor">
      <span>Autor</span>
      <span class="post__autor-name">Name of autor</span>
    </div>
  </div>
  <hr />
  <div class="container__content">
    <div class="content__title">
      <h1> {{title}} </h1>
    </div>
    <div class="content__description">
      <p>
        {{content}}
      </p>
      <div class="content__cover">
        <img
          src="{{coverPhoto}}"
          alt="">
      </div>
    </div>
  </div>
