<header>
  <app-nav-bar></app-nav-bar>
</header>

<div>
  <main>
    <h1 class="section-title">Lastest Blogs</h1>
    <section class="app-featured-card">
      <article>
        <app-featured-card
          id="1"
          categorie="CATEGORIE"
          photoCover="https://img.freepik.com/vetores-gratis/carregue-mais-ilustracao-de-conceito_114360-3033.jpg?w=740&t=st=1707152085~exp=1707152685~hmac=a60a010ee83ab43dc690bbc8a8ffc18df267d1c10ceffcd90b2bc8f08b9e233a"
          cardTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit." cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae id ipsum vero, quis ab sed adipisci saepe amet
          quidem repudiandae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci autem quibusdam velit
          consequatur, quis ea molestiae et mollitia pariatur. Maxime ratione ut enim id quis aspernatur unde autem
          soluta nemo!">
        </app-featured-card>
      </article>
    </section>

    <section class="posts">
      <article>
        <app-post-card
          id = "2"
          photoCover="https://img.freepik.com/vetores-gratis/conceito-de-upload-de-imagem-para-a-pagina-de-destino_23-2148298812.jpg?w=740&t=st=1707161066~exp=1707161666~hmac=2a38e53a3c2c22b7f88505741319a9e0e0cee20ff3ce94a031688aeda9e30c6a"
          categorie="CATEGORIE" cardTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit." cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae id ipsum vero, quis ab sed adipisci saepe amet
          quidem repudiandae..."></app-post-card>
      </article>
      <article>
        <app-post-card
          id = "3"
          photoCover="https://img.freepik.com/vetores-gratis/conceito-de-upload-de-imagem-para-a-pagina-de-destino_23-2148298812.jpg?w=740&t=st=1707161066~exp=1707161666~hmac=2a38e53a3c2c22b7f88505741319a9e0e0cee20ff3ce94a031688aeda9e30c6a"
          categorie="CATEGORIE" cardTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit." cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae id ipsum vero, quis ab sed adipisci saepe amet
          quidem repudiandae..."></app-post-card>
      </article>
      <article>
        <app-post-card
          id = "4"
          photoCover="https://img.freepik.com/vetores-gratis/conceito-de-upload-de-imagem-para-a-pagina-de-destino_23-2148298812.jpg?w=740&t=st=1707161066~exp=1707161666~hmac=2a38e53a3c2c22b7f88505741319a9e0e0cee20ff3ce94a031688aeda9e30c6a"
          categorie="CATEGORIE" cardTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit." cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae id ipsum vero, quis ab sed adipisci saepe amet
          quidem repudiandae..."></app-post-card>
      </article>
      <article>
        <app-post-card
          id = "5"
          photoCover="https://img.freepik.com/vetores-gratis/conceito-de-upload-de-imagem-para-a-pagina-de-destino_23-2148298812.jpg?w=740&t=st=1707161066~exp=1707161666~hmac=2a38e53a3c2c22b7f88505741319a9e0e0cee20ff3ce94a031688aeda9e30c6a"
          categorie="CATEGORIE" cardTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit." cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae id ipsum vero, quis ab sed adipisci saepe amet
          quidem repudiandae..."></app-post-card>
      </article>


    </section>
  </main>

  <aside>
    <h1 class="section-title">News</h1>
    <app-news shadowStyle=""
      newsCover="https://img.freepik.com/fotos-gratis/noticias-falsas-funcionam-saindo-de-um-megafone_23-2149261953.jpg?w=826&t=st=1707244011~exp=1707244611~hmac=5924b67c450b47e37631ff1f385267bb60b5a75f2fae2ed5e8a87ef9c34fb999"
      newsTitle="Lorem ipsum, dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit amet consectetur adipisicing elit."
      newsDate="Today">
    </app-news>
    <app-news
      newsCover="https://img.freepik.com/fotos-gratis/noticias-falsas-funcionam-saindo-de-um-megafone_23-2149261953.jpg?w=826&t=st=1707244011~exp=1707244611~hmac=5924b67c450b47e37631ff1f385267bb60b5a75f2fae2ed5e8a87ef9c34fb999"
      newsTitle="Lorem ipsum, dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit amet consectetur adipisicing elit."
      newsDate="Today">
    </app-news>
    <app-news
      newsCover="https://img.freepik.com/fotos-gratis/noticias-falsas-funcionam-saindo-de-um-megafone_23-2149261953.jpg?w=826&t=st=1707244011~exp=1707244611~hmac=5924b67c450b47e37631ff1f385267bb60b5a75f2fae2ed5e8a87ef9c34fb999"
      newsTitle="Lorem ipsum, dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit amet consectetur adipisicing elit."
      newsDate="Today">
    </app-news>
    <app-news
      newsCover="https://img.freepik.com/fotos-gratis/noticias-falsas-funcionam-saindo-de-um-megafone_23-2149261953.jpg?w=826&t=st=1707244011~exp=1707244611~hmac=5924b67c450b47e37631ff1f385267bb60b5a75f2fae2ed5e8a87ef9c34fb999"
      newsTitle="Lorem ipsum, dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit amet consectetur adipisicing elit."
      newsDate="Today">
    </app-news>
  </aside>
</div>
