<header>
  <app-nav-bar></app-nav-bar>
</header>

<div>
  <main>
    <section class="app-featured-card">
      <article>
        <app-featured-card></app-featured-card>
      </article>
    </section>

    <section class="posts">
      <article>
        <app-post-card></app-post-card>
      </article>
      <article>
        <app-post-card></app-post-card>
      </article>
      <article>
        <app-post-card></app-post-card>
      </article>
      <article>
        <app-post-card></app-post-card>
      </article>

    </section>
  </main>

  <aside>
    <h1>News</h1>
  </aside>
</div>
