<div class="container__featured-card">
  <div class="featured-card__photo">
    <img
      src="https://img.freepik.com/vetores-gratis/carregue-mais-ilustracao-de-conceito_114360-3033.jpg?w=740&t=st=1707152085~exp=1707152685~hmac=a60a010ee83ab43dc690bbc8a8ffc18df267d1c10ceffcd90b2bc8f08b9e233a"
      alt="" width="250px">
    <!--
    <a
      href="https://br.freepik.com/vetores-gratis/carregue-mais-ilustracao-de-conceito_9793182.htm#query=image%20placeholder&position=12&from_view=search&track=ais&uuid=2bd198a1-8016-45a9-af8b-b4c95b3a82dc">Imagem
      de storyset</a> no Freepik-->
  </div>
  <div class="container__content-card">
    <span>CATEGORIE</span>
    <a href="#">
      <div class="featured-card__title">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
      </div>
      <div class="featured-card__description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae id ipsum vero, quis ab sed adipisci saepe amet
          quidem repudiandae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci autem quibusdam velit
          consequatur, quis ea molestiae et mollitia pariatur. Maxime ratione ut enim id quis aspernatur unde autem
          soluta
          nemo!</p>
      </div>
    </a>
  </div>
</div>
