<div class="container__featured-card">
  <div class="featured-card__photo">
    <img
      src="{{photoCover}}"
      alt="" width="250px">
    <!--
    <a
      href="https://br.freepik.com/vetores-gratis/carregue-mais-ilustracao-de-conceito_9793182.htm#query=image%20placeholder&position=12&from_view=search&track=ais&uuid=2bd198a1-8016-45a9-af8b-b4c95b3a82dc">Imagem
      de storyset</a> no Freepik-->
  </div>
  <div class="container__content-card">
    <span>{{categorie}}</span>
    <a href="#">
      <div class="featured-card__title">
        <h1>{{cardTitle}}</h1>
      </div>
      <div class="featured-card__description">
        <p>
          {{cardDescription}}
        </p>
      </div>
    </a>
  </div>
</div>
